/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole Generali */
:root {
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --secondary-color-light: #cbc9f1;
}

.col-w {
    color: white;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.al-items-c {
    align-items: center;
}

.just-sp-between {
    justify-content: space-between;
}

.padx-1_5 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.padx-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.padx-2_5 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.t-align-c {
    text-align: center;
}

.pady-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pady-2_5 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.marginy-1 {
    margin-top: 1rem;
    margin-bottom: 1rem; 
}

.marginy-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.h-40 {
    height: 40%;
}

.h-60 {
    height: 60%;
}

.h-100 {
    height: 100%;
}

.list-st-ty-n {
    list-style-type: none;
}

.text-dec-n {
    text-decoration: none;
}

.card {
    border-radius: 30px;
}

.btn {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

.btn-ty2 {
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

/* Header */
header nav {
    background-color: var(--primary-color);
}

/* Main */
/* Prima Sezione */
#first-section .card {
    background-color: var(--primary-color-light);
}

/* Seconda Sezione */
#second-section {
    background-color: var(--secondary-color);
}

#second-section .container {
    background-color: var(--secondary-color-light);
}

/* Terza Sezione */

#third-section .card {
    background-color: var(--secondary-color);
}

/* Quarta Sezione */
#fourth-section {
    background-color: var(--secondary-color);
}

#fourth-section .card {
    background-color: white;
}

/* Quinta Sezione */

/* Sesta Sezione */
#sixth-section {
    background-color: var(--secondary-color);
}

#sixth-section .card {
    background-color: white;
}

/* Footer */
footer {
    background-color: #0b0b0b;
}

footer p:last-child {
    margin-top: 2rem;
}

/* Debug */
.debug * {
    border: 2px dashed black;
}

.debug .header-content {
    background-color: lightblue;
}

.debug .card {
    height: 40vh;
}

.debug footer .container p {
    background-color: lightcoral;
}